<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BWEER/S</title>
    <link rel="shortcut icon" href="#">
</head>
<body>
    <h1>BWEER/S</h1>
    <p class="description">Bootstrap & Webpack & Express & Ejs & RethinkDB/SQLite Boilerplate App</p>
    <div class="awful-selfie"></div>
    <a href="<%= url %>">google</a>
</body>
</html>
